.App {
  text-align: center;
  margin-top: 60px;
}
.row {
  margin: 0px 10px 0px 10px;
  text-align: left;
}
/* .col {

} */
/* info box */
.tabinfo {
  padding: 8px;
  height: 35vh;
  width: 60%;
  border: solid 1px rgb(72, 72, 72);
}
/* //button */
.tabs {
  border-style: none;
  border-right: solid 1px rgb(72, 72, 72);
  background-color: rgb(44, 44, 44);
  color: rgb(142, 142, 142);
  padding: 0px 22px 0px 22px;
}
.tabs:hover {
  background-color: rgb(52, 52, 52);
  color: white;
}
.tabs:focus {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: rgb(121, 103, 0);
  background-color: rgb(52, 52, 52);
  color: white;
}

